<%# locals: (song:, current_branch_name:, current_content:, form_id:) %>
<div
  class="flex flex-col h-full"
  data-controller="editor"
  data-editor-original-content-value="<%= current_content %>"
>
  <%= form_with url: song_path(song, branch: current_branch_name), method: :patch, id: form_id, class: "flex-1 flex relative overflow-hidden" do |f| %>
    <div
      data-editor-target="diffStatus"
      class="
        w-16 bg-gray-50 border-r border-gray-200 pt-8 pb-8 overflow-hidden
        font-mono text-lg leading-7
      "
    ></div>

    <%= f.text_area :content,
                    value: current_content,
                    wrap: "off",
                    data: { 
                      editor_target: "input",
                      action: "input->editor#onInput scroll->editor#syncScroll" 
                    },
                    class: "flex-1 w-full py-8 px-6 text-lg leading-7 text-gray-800 resize-none focus:outline-none font-mono placeholder-gray-300 border-none whitespace-pre",
                    placeholder: "Start writing your lyrics here..." %>
  <% end %>

  <div
    class="
      px-8 py-3 border-t bg-white text-xs text-gray-400 flex justify-between
      items-center
    "
  >
    <span class="font-mono">
      <%= current_content.lines.count %> lines · <%= current_content.length %>
      characters
    </span>

    <div class="flex items-center gap-2">
      <span class="size-2 rounded-full bg-green-500"></span>
      <span><%= current_branch_name %></span>
    </div>
  </div>
</div>
