<main class="h-screen bg-white flex flex-col" data-controller="tabs">
  <header class="border-b px-6 py-4 bg-white flex justify-between items-center">
    <div class="flex items-center gap-4">
      <%= link_to songs_path, class: "text-gray-400 hover:text-gray-600 transition-colors" do %>
        <%= render "songs/icons/back_icon" %>
      <% end %>

      <h1 class="text-xl font-bold text-gray-900"><%= @song.title %></h1>
    </div>

    <%= render "shared/logout_button" %>
  </header>

  <div class="hidden md:flex overflow-hidden flex-1">
    <div class="flex-1">
      <%= render "lyric_editor", song: @song, current_branch_name: @current_branch_name, current_content: @current_content %>
    </div>

    <div class="w-80"><%= render "history_panel", commits: @commits %></div>

    <div class="w-64">
      <%= render "branches_panel", branches: @branches, song: @song, current_branch_name: @current_branch_name %>
    </div>
  </div>

  <div class="overflow-hidden md:hidden flex-1 flex flex-col">
    <div
      class="
        flex border-b border-gray-200 text-sm font-medium text-gray-500
        bg-white
      "
      role="tablist"
    >
      <%= render "shared/tabs_button", aria_selected: true, name: "editor", content: "Editor", aria_controls: "editor-panel", id: "editor-tab" %>

      <%= render "shared/tabs_button", name: "history", content: "History", aria_controls: "history-panel", id: "history-tab" %>

      <%= render "shared/tabs_button", name: "branches", content: "Branches", aria_controls: "branches-panel", id: "branches-tab" %>
    </div>

    <div class="size-full overflow-hidden">
      <div
        class="size-full"
        data-tabs-target="panel"
        data-panel="editor"
        id="editor-panel"
        role="tabpanel"
        aria-labelledby="editor-tab"
      >
        <%= render "lyric_editor", song: @song, current_branch_name: @current_branch_name, current_content: @current_content %>
      </div>

      <div
        class="hidden size-full"
        data-tabs-target="panel"
        data-panel="history"
        id="history-panel"
        role="tabpanel"
        aria-labelledby="history-tab"
      >
        <%= render "history_panel", commits: @commits %>
      </div>

      <div
        class="hidden size-full"
        data-tabs-target="panel"
        data-panel="branches"
        id="branches-panel"
        role="tabpanel"
        aria-labelledby="branches-tab"
      >
        <%= render "branches_panel", branches: @branches, song: @song, current_branch_name: @current_branch_name %>
      </div>
    </div>
  </div>
</main>
